@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground: #ff9bc2;
    --accent: #ff9bc2;
    --background1: #ffffff;
    --background2: #ffffff;
    --background3: #ffdeeb;
}

@layer base {
    body {
        @apply bg-background1 text-foreground
    }

    p {
        @apply m-1
    }

    a, code {
      @apply text-accent no-underline;
    }

    blockquote,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    pre {
        @apply m-1 font-medium
    }
    p {
        @apply m-0
    }

    
    ::-webkit-scrollbar {
        @apply w-2 h-2 
    }
    
    ::-webkit-scrollbar-track {
        @apply bg-background3 rounded
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-foreground rounded
    }
}
